@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@602&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  background: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  flex-wrap: wrap;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  background: whitesmoke;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-family: "Epilogue", serif;
  font-size: 30px;
  color: #000;
  margin: 10px;
  font-weight: 900;
}

#signup {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  color: black;
  font-family: "Epilogue", serif;
}

nav ul li a {
  text-decoration: none;
  color: rgb(122, 122, 122);
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
}

main {
  height: 85vh;
  width: 90vw;
  display: flex;
}

.imageSection {
  width: 50%;
  height: 100%;
  background: url("images/image-hero-desktop.png") no-repeat center center;
  background-size: contain;
}

.textSection {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  font-family: "Epilogue", serif;
  padding: 100px;
}

.heading {
  font-size: 60px;
  font-weight: 900;
  color: black;
  text-align: left;
}

.para {
  margin: 20px 0 20px 0;
  font-size: 20px;
  color: hsl(0, 0%, 41%);
}

.btn {
  background-color: black;
  color: #f5f5f5;
  margin-top: 20px;
  width: 130px;
  height: 40px;
  transition: 0.1s linear;
  border: 2px solid black;
  border-radius: 10px;
}

.btn:hover {
  background-color: #f5f5f5;
  color: black;
  cursor: pointer;
}

.footer {
  background-color: #f5f5f5;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  color: black;
  font-family: "Epilogue", serif;
}

.section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hovering ul {
  display: none;
  position: fixed;
  top: 50px;
  z-index: 100;
}

.hovering:hover ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  background: white;
  width: 140px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
}

.hovering:hover .company {
  display: grid;
  grid-template-columns: 1fr;
  height: 100px;
  grid-template-rows: repeat(3, 1fr);
}

.menu {
  height: 150px;
  padding: 10px;
}

.hovering a img {
  animation: 0.2s ease-in rotated;
}

.hovering:hover a img {
  animation: 0.2s ease-in rotate 1 forwards;
}

nav ul li a:hover {
  color: black;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotated {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.mobile-nav {
  display: none;
}

.btn-open {
  display: none;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    background-color: #f5f5f5;
    width: 0px;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;  
    opacity: 1;
    padding: 0;
  }

  .collapse {
    display: block;
    background: #f5f5f5;
    height: 100vh;
    width: 100%;
  }

  .collapse ul {
    background: #f5f5f5;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 50%;
    margin-top: 50px;
  }

  .btn-open{
    margin-right: 10px;
    display: block;
    border: none;
    background: #f5f5f5;
  }

  .btn-close{
    background: #f5f5f5;
    border: none;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .collapse li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hovering ul {
    display: none;
  }

  .hovering:hover ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    width: 140px;
    height: 300px;
    box-shadow: none;
    border-radius: 0px;
  }


  .hovering ul img {
    margin: auto;
  }

  .hovering:hover .company {
    display: grid;
    grid-template-columns: 1fr;
    height: 200px;
    margin-top: 120px;
    grid-template-rows: repeat(3, 1fr);
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 50px;
    height: calc(100vh - 50px);
  }

  .imageSection {
    width: 100%;
    height: 100%;
    background: url("images/image-hero-mobile.png") no-repeat left;
    background-size: contain;
    position: relative;
  }

  .textSection {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Epilogue", serif;
    position: relative;
  }

  .heading {
    font-size: 40px;
    font-weight: 900;
    padding: 10px;
    color: black;
    text-align: center;
  }

  .para {
    margin: 20px 0 20px 0;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: hsl(0, 0%, 41%);
  }

  .btn {
    background-color: black;
    color: #f5f5f5;
    margin-top: 20px;
    width: 130px;
    height: 40px;
    transition: 0.1s linear;
    border: 2px solid black;
    border-radius: 10px;
  }

  .btn:hover {
    background-color: #f5f5f5;
    color: black;
    cursor: pointer;
  }

  .footer {
    background-color: #f5f5f5;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: -92px;
  }

  footer ul {
    display: grid;
    width: 50%;
    grid-template-columns: 100px 100px 100px 100px;
  }
  .footer ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .footer ul li img {
    transform: scale(0.7);
  }

  .section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
